@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4 display-4 text-black">Hakkımızda</h2>
            <p>
                <strong>LIB</strong>, yazılı kaynaklara duyulan tutkuyu ve bilgiye erişimi kolaylaştırmayı amaçlayan bir platformdur.
                Amacımız, kullanıcılarımıza geniş bir yelpazede kitapları, romanları, öyküleri, ansiklopedileri, sözlükleri, dergileri, akademik yayınları ve süreli yayınları sunarak okuma deneyimlerini zenginleştirmektir.
            </p>
            <p>
                Sitemizde, farklı türlerden ve alanlardan seçilmiş yazılı kaynaklara ulaşabilir, bilgi dünyasında daha derin bir yolculuğa çıkabilirsiniz.
                Herkesin ilgisini çekebilecek, az bilinen ancak değerli kaynakları bir araya getiriyoruz.
            </p>
            <p>
                Kitap Dünyası ekibi, okuma kültürünü teşvik etmek ve kullanıcılarımıza en iyi deneyimi sunmak için çalışmaktadır.
                Sitemizdeki içerikleri sürekli güncelliyor, çeşitlendiriyor ve yeni keşifler için bir kapı aralıyoruz.
            </p>
            <p>
                Bizimle birlikte kitapları, yazıları ve bilgiyi keşfetmeye hazır mısınız? Sizi LIB'e davet ediyoruz!
            </p>
        </div>
        <div>
            <h2 class="mb-4 display-4 text-black">Kullandığım Linkler</h2>
        </div>
        <p>
            https://img.kitapyurdu.com/v1/getImage/fn:11240877/wh:true/wi:500
        </p>
        <p>
            https://i.dr.com.tr/cache/600x600-0/originals/0000000058245-1.jpg
        </p>
        <p>
            https://static.ticimax.cloud/4026/Uploads/UrunResimleri/Lavinia---Ozdemir-Asaf-334d.jpg
        </p>
        <p>
            https://palmekitabevi.com/content/images/thumbs/012/0127724_genel-matematik-1_800.jpeg
        </p>
        <p>
            https://img.yumpu.com/18999856/1/500x640/fen-bilimleri-enstitusu-ornek-makale-format.jpg
        </p>
        <p>
            https://www.ojsdergi.com/wp-content/uploads/2023/04/elithosting1.jpg
        </p>
    </div>
</div>
